<nav class="navbar navbar-fixed-top navbar-inverse" >
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ng-href="#!/" class="navbar-brand proj-navbar-font proj-navbar-heading"><b class="proj-navbar-font"> <span class="glyphicon glyphicon-chevron-left" ></span></b></a>
            <a class="navbar-brand proj-navbar-font proj-navbar-heading" ng-href="#!/" ><b>TrendTV</b></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-href="#!/search?searchText=" class="glyphicon glyphicon-search proj-navbar-color"></a></li>
                <li ><a href="#!/"><b class="proj-navbar-font proj-navbar-color">Trending </b></a></li>
                <li ng-show="!model.userId" class="active"><a href="#!/login"> <b class="proj-navbar-font ">Login </b> </a></li>
                <li ng-show="!model.userId"><a href="#!/register"> <b class="proj-navbar-color proj-navbar-font">Register </b> </a></li>
                <li ng-show="model.userId"><a  ng-click="model.logout()"> <b class=" proj-navbar-color proj-navbar-font">Logout </b></a></li>
            </ul>
        </div>
    </div>
</nav>

<div id= "works"  class="container-fluid">
        <div ng-show="model.message" class="alert alert-danger">{{model.message}}</div>
        <label for="username" class="usernamelabel">Username</label>
        <input ng-model="username" id="username" class="form-control" placeholder="bob">

        <label for="password" class="loginmargins">Password</label>
        <input ng-model="password" type="password" id="password" class="form-control" placeholder="bob">

        <a class="card-1 loginbutton btn btn-primary btn-block"
           ng-click="model.login(username, password)">
            Login
            <i class = "fa fa-user"></i>
        </a>

        <a class="card-1 btn btn-success btn-block"
           href="#!/register">
            Register
        </a>
        <a href="/auth/facebook" class="card-1 btn btn-primary btn-block">
            <span class="fa fa-facebook-official"></span>
            Facebook
        </a>

    </div>

