
<div class="login-view container-fluid">


    <div class="logindiv container">
        <br>
        <h4 style="color: #00a9c6;">Trend TV</h4>
        <div ng-show="model.err" class="alert alert-danger">{{model.err}}</div>

        <label for="username" class="usernamelabelregister">Username</label>
        <input ng-model="username" id="username" class="form-control">

        <label for="password" class="loginmargins">Password</label>
        <input ng-model="password" type="password" id="password" class="form-control">

        <label for="verifypassword" class="loginmargins">Verify Password</label>
        <input ng-model="verpwd" type="password" id="verifypassword" class="form-control">

        <label for="firstname" class="loginmargins">First Name</label>
        <input ng-model="firstname" id="firstname" class="form-control">

        <label for="lastname" class="loginmargins">Last Name</label>
        <input ng-model="lastname" id="lastname" class="form-control">

        <label for="emailid" class="loginmargins">Email address</label>
        <input ng-model="email" type="email" id="emailid" class="form-control">

        <label class="loginmargins">Role</label>
        <br>
        <label class="proj-text-color-white radio-inline"><input ng-model="model.role" ng-value="'user'" type="radio" name="userrole"><h4>User</h4></label>
        <label class="proj-text-color-white radio-inline"><input ng-model="model.role" ng-value="'actor'" type="radio" name="userrole"><h4>Actor</h4></label>

        <a ng-click = "model.register(username,password,verpwd, email, firstname, lastname)"
           class="loginmargins btn btn-primary btn-block">
            Register</a>

        <a class="loginmargins btn btn-danger  btn-block"
           href="#!/login">Cancel</a>

    </div>

</div>
