<md-dialog aria-label=Likes>
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <div ng-show="vm.flag === 'l'"><h2>Likes</h2></div>
                <div ng-show="vm.flag === 'd'"><h2>Dislikes</h2></div>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>

            <div class="md-dialog-content">
                <em ng-show= "vm.items.length=== 0 && vm.flag === 'l'" >No Likes yet!</em>
                <em ng-show= "vm.items.length=== 0 && vm.flag === 'd'" >No Dislikes yet!</em>
            </div>
            <div class="container">
                <div class="md-dialog-content row" ng-repeat="user in vm.items">
                    <a ng-href="#!/finduser/posts/{{user._id}}" ng-click="vm.cancel()">
                        <!--<div class="col-lg-9">-->
                            <h4>{{user.firstName}}</h4>
                        <!--</div>-->
                    </a>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="vm.answer('ok')">
                OK
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>