<md-dialog aria-label=Likes>
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Changed your mind?</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>

            <div class="container-fluid">
                <br>

                <label for="name">Post Title</label>
                <input class="proj-comment-edit-box form-control"
                       ng-model="vm.post.title"
                       placeholder="Friends"
                       id="name"/>

                <br>
                <label for="text">Post</label>
                <textarea rows="5" class="proj-comment-edit-box form-control"
                          ng-model="vm.post.body"
                          placeholder="Good"
                          id="text"></textarea>
                <br>
            </div>

        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="vm.updatePost()">
                OK
            </md-button>
            <md-button ng-click="vm.cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
