<div class="topbar animated fadeInLeftBig"></div>
<div class="navbar-wrapper">
    <div class="container-fluid">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="top-nav">
            <div class="container">
                <div class="navbar-header">
                    <!-- Logo Starts -->
                    <!--<a class="navbar-brand" href="#home"><img src="images/logo.png" alt="logo"></a>-->
                    <!-- #Logo Ends -->
                    <a class="navbar-brand navbar-left pull-left" style="color: #1BC0DC; padding-top: 30px">Trend TV</a>


                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>


                <!-- Nav Starts -->
                <div class="navbar-collapse  collapse">

                    <ul class="nav navbar-nav navbar-right scroll">
                        <li><a href="#!/search" class="navbarhover glyphicon glyphicon-search"></a></li>
                        <li><a class="navbarhover" href="#!/user/{{model.userId}}">Trending</a></li>
                        <li class="active"><a href="#works">Profile</a></li>
                        <li><a class="navbarhover" href="">Logout {{model.user.username}}</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="login-view container-fluid">

    <div class="proj-text-color-white logindiv container">
        <br>
        <label for="name">Series Name</label>
        <input class="form-control"
               ng-model="model.seriesName"
               placeholder="Friends"
               id="name"/>

        <br>
        <label for="text">Comment</label>
        <textarea rows="5" class="form-control"
               ng-model="model.comment.comment"
               placeholder="Good"
                  id="text"></textarea>
        <br>
        <a ng-click="model.updateComment()" class="btn btn-block btn-success">Submit</a>
        <a ng-href="#!/user/{{model.userId}}/comments" class="btn btn-block btn-danger">Cancel</a>
    </div>

</div>
