<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ng-href="#!/profileEdit" class="navbar-brand proj-navbar-font proj-navbar-heading"><b class="proj-navbar-font"> <span class="glyphicon glyphicon-chevron-left" ></span></b></a>
            <a class="navbar-brand proj-navbar-font proj-navbar-heading" ng-href="#!/" ><b>TrendTV</b></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-href="#!/search" class="glyphicon glyphicon-search proj-navbar-color"></a></li>
                    <li><a href="#!/"><b class="proj-navbar-color proj-navbar-font">Trending </b></a></li>
                <li class="active proj-navbar-heading" ng-show="model.userId"><a href="#!/profileEdit"> <b class="proj-navbar-font">Profile </b> </a></li>
                <li ng-show="!model.userId"><a href="#!/login"> <b class="proj-navbar-color proj-navbar-font">Login </b> </a></li>
                <li ng-show="!model.userId"><a href="#!/register"> <b class="proj-navbar-color proj-navbar-font">Register </b> </a></li>
                <li ng-show="model.userId"><a  ng-click="model.logout()"> <b class=" proj-navbar-color proj-navbar-font">Logout </b></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="proj-sidebar" id="wrapper">

        <div class="hidden-xs" id="sidebar-wrapper">
            <ul  class="sidebar-nav">
                <br>
                <li class="proj-sidebar-list">
                    <img align="center" class="img-circle" ng-src="{{model.user.imageUrl}}" err-src="https://kurs.com.ua/uploads/set_resources_2/84c1e40ea0e759e3f1505eb1788ddf3c_default_photo.png">
                </li>
                <li>
                    <a ng-href="#!/profileEdit"><h4 class="proj-sidenavbar-profilename">  {{model.user.firstName}}   <i class="proj-pencil fa fa-pencil " aria-hidden="true"></i></h4></a>
                </li>
                <li>
                    <div class="row">
                        <div align="right" class="col-xs-4">
                            <i class="proj-pencil fa fa-users fa-2x" aria-hidden="true"></i>
                        </div>
                        <div align="left" class="col-xs-8">
                            <a ng-href="#!/follower"><h4>Followers</h4> </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div align="right" class="col-xs-4">
                            <i class="proj-pencil fa fa-th-list fa-2x" aria-hidden="true"></i>
                        </div>
                        <div align="left" class="col-xs-8">
                            <a ng-href="#!/wishList"><h4>Wish List</h4></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div align="right" class="col-xs-4">
                            <i class="proj-pencil fa fa-list-alt fa-2x"></i>
                        </div>
                        <div align="left" class="col-xs-8">
                            <a ng-href="#!/watchList"><h4>Watched List</h4></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div align="right" class="col-xs-4">
                            <i class="proj-pencil fa fa-comments fa-2x" aria-hidden="true"></i>
                        </div>
                        <div align="left" class="col-xs-8">
                            <a ng-href="#!/comments"><h4>Comments</h4></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div align="right" class="col-xs-4">
                            <i class="proj-pencil fa fa-users fa-2x" aria-hidden="true"></i>
                        </div>
                        <div align="left" class="col-xs-8">
                            <a ng-href="#!/following"><h4>Following</h4></a>
                        </div>
                    </div>
                </li>
                <li ng-if="!(model.user.role==='actor')">
                    <div class="row">
                        <div align="right" class="col-xs-4">
                            <i class="proj-pencil fa fa-envelope-open fa-2x" aria-hidden="true"></i>
                        </div>
                        <div align="left" class="col-xs-8">
                            <a ng-href="#!/activityfeed"><h4>Activity Feed</h4></a>
                        </div>
                    </div>
                </li>
                <li ng-if="model.user.role==='actor'">
                    <div class="row">
                        <div align="right" class="col-xs-4">
                            <i class="proj-pencil fa fa-envelope-open fa-2x" aria-hidden="true"></i>
                        </div>
                        <div align="left" class="col-xs-8">
                            <a ng-href="#!/posts"><h4>Posts</h4></a>
                        </div>
                    </div>
                </li>
                <li ng-if="true">
                    <br><br><br><br><br>
                </li>
            </ul>
        </div>
        <div class="col-lg-12">
            <div class=" clearfix grid">
                <div id = "works" class="container-fluid " >
                    <!--<br/><br/>-->
                    <div class="row ">
                        <h2 class="">Followers</h2>
                        <div ng-repeat="f in model.followerList">

                            <div class="col-sm-12 col-md-6" id="x">
                                <div class="thumbnail card-1 ">
                                    <div class="row">

                                        <div class="col-lg-6" align="center" >
                                            <img class="img-responsive img-circle"
                                                 ng-src="{{f.imageUrl}}"
                                                 err-src="https://kurs.com.ua/uploads/set_resources_2/84c1e40ea0e759e3f1505eb1788ddf3c_default_photo.png">
                                        </div>

                                        <div class="col-lg-6"  align="left">

                                            <a ng-if="f.role === 'user'"ng-click="model.redirectUser(f._id)" ><h4>{{f.firstName }} {{f.lastName}}</h4></a>
                                            <a ng-if="f.role === 'actor'"ng-click="model.redirectUser(f._id)" ><h4>{{f.firstName }} {{f.lastName}}&nbsp&nbsp&nbsp&nbsp<i class="fa fa-check-circle" aria-hidden="true"></i></h4></a>
                                            <h5 class="">Following : {{f.followingCount}}</h5>
                                            <h5 class="">Followers : {{f.followerCount}}</h5>
                                            <a ng-if="model.user.following.indexOf(f._id)>-1 && f.role==='user'" ng-click="model.unfollow(f._id)" class="btn btn-danger" >Unfollow</a>
                                            <a ng-if="!(model.user.following.indexOf(f._id)>-1) && f.role==='user'" ng-click="model.follow(f._id)" class="btn btn-primary" >Follow</a>
                                            <a ng-if="model.user.following.indexOf(f._id)>-1 && f.role==='actor'" ng-click="model.unfollow(f._id)" class="btn btn-danger" >Unfollow  <i class="fa fa-star" aria-hidden="true"></i></a>
                                            <a ng-if="!(model.user.following.indexOf(f._id)>-1) && f.role==='actor'" ng-click="model.follow(f._id)" class="btn btn-primary" >Follow  <i class="fa fa-star" aria-hidden="true"></i></a>

                                            <!--<a ng-click="model.redirectUser(f._id)" ><h4>{{f.firstName }} {{f.lastName}}</h4></a>
                                            <h5 class="proj-text-color-white">Following : {{f.followingCount}}</h5>
                                            <h5 class="proj-text-color-white">Followers : {{f.followerCount}}</h5>
                                            <a ng-if="model.user.following.indexOf(f._id)>-1" ng-click="model.unfollow(f._id)" class="btn btn-danger" >Unfollow</a>
                                            <a ng-if="!(model.user.following.indexOf(f._id)>-1)" ng-click="model.follow(f._id)" class="btn btn-primary" >Follow</a>-->
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!--<br/><br/>-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>