<div class="topbar animated fadeInLeftBig"></div>
<div class="navbar-wrapper">
    <div class="container-fluid">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="top-nav">
            <div class="container">
                <div class="navbar-header">
                    <!-- Logo Starts -->
                    <!--<a class="navbar-brand" href="#home"><img src="images/logo.png" alt="logo"></a>-->
                    <!-- #Logo Ends -->
                    <a class="navbar-brand navbar-left pull-left" style="color: #1BC0DC; padding-top: 30px">Trend TV</a>


                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>


                <!-- Nav Starts -->
                <div class="navbar-collapse  collapse">

                    <ul class="nav navbar-nav navbar-right scroll">
                        <li ng-show="!(model.user.role==='admin')"><a ng-href="#!/search" class="navbarhover glyphicon glyphicon-search"></a></li>
                        <li ng-show="!(model.user.role==='admin')"><a class="navbarhover" ng-href="#!/">Trending</a></li>
                        <li ng-show="model.user.role==='admin'"><a class="navbarhover" ng-href="#!/admin">Admin Dashboard</a></li>
                        <li class="active"><a ng-href="#!/profileEdit">Profile</a></li>
                        <li><a class="navbarhover" ng-click="model.logout()">Logout {{model.user.username}}</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="login-view container-fluid">


    <div class="container-fluid">

        <div ng-show="model.user.role === 'user' || model.user.role === 'actor'" style="padding-top: 80px" class="col-lg-3 hidden-xs">
            <br>
            <div align="center" class="row">
                <!--<img align="center" class="img-circle" ng-src="https://kurs.com.ua/uploads/set_resources_2/84c1e40ea0e759e3f1505eb1788ddf3c_default_photo.png">-->
                <img align="center" class="img-circle" ng-src="{{model.user.imageUrl}}">
            </div>
            <a ng-href="#!/profileEdit"><h4 align="center" style="color: #00a9c6; margin-top: 20px">{{model.user.username}}    <i class="fa fa-pencil " aria-hidden="true"></i></h4></a>
            <br>
            <div class="row">
                <div align="right" class="col-xs-5">
                    <i class="fa fa-users fa-4x" aria-hidden="true"></i>
                </div>
                <div align="left" style="padding-top: 20px" class="col-xs-7">
                    <a ng-href="#!/follower"><h4>Followers</h4> </a>
                </div>
            </div>
            <div class="row">
                <div align="right" class="col-xs-5">
                    <i class="fa fa-th-list fa-4x" aria-hidden="true"></i>
                </div>
                <div align="left" style="padding-top: 20px" class="col-xs-7">
                    <a ng-href="#!/wishList"><h4>Wish List</h4></a>
                </div>
            </div>
            <div class="row">
                <div align="right" class="col-xs-5">
                    <i class="fa fa-list-alt fa-4x"></i>
                </div>
                <div align="left" style="padding-top: 20px" class="col-xs-7">
                    <a ng-href="#!/watchList"><h4>Watched List</h4></a>
                </div>
            </div>
            <div class="row">
                <div align="right" class="col-xs-5">
                    <i class="fa fa-comments fa-4x" aria-hidden="true"></i>
                </div>
                <div align="left" style="padding-top: 20px" class="col-xs-7">
                    <a ng-href="#!/comments"><h4>Comments</h4></a>
                </div>
            </div>
            <div class="row">
                <div align="right" class="col-xs-5">
                    <i class="fa fa-users fa-4x" aria-hidden="true"></i>
                </div>
                <div align="left" style="padding-top: 20px" class="col-xs-7">
                    <a ng-href="#!/following"><h4>Following</h4></a>
                </div>
            </div>
            <div ng-if="!(model.user.role==='actor')" class="row">
                <div align="right" class="col-xs-5">
                    <i class="fa fa-envelope-open fa-4x" aria-hidden="true"></i>
                </div>
                <div align="left" style="padding-top: 20px" class="col-xs-7">
                    <a ng-href="#!/activityfeed"><h4>Activity Feed</h4></a>
                </div>
            </div>
            <div ng-if="model.user.role==='actor'" class="row">
                <div align="right" class="col-xs-5">
                    <i class="fa fa-envelope-open fa-4x" aria-hidden="true"></i>
                </div>
                <div align="left" style="padding-top: 20px" class="col-xs-7">
                    <a ng-href="#!/posts"><h4>Posts</h4></a>
                </div>
            </div>
            <br>
        </div>

        <div ng-show="model.user.role === 'user' || model.user.role === 'actor'" style="padding-top: 235px" class="col-lg-9">
            <br><br>
            <h4 style="color: #00a9c6;">Trend TV</h4>
            <div ng-show="model.err" class="alert alert-danger">{{model.err}}</div>

            <label for="username" class="usernamelabelregister">Username</label>
            <input ng-model="model.user.username" id="username" class="form-control">

            <label for="password" class="loginmargins">Change Password</label>
            <input ng-model="model.password" type="password" id="password" class="form-control">

            <label for="firstname" class="loginmargins">First Name</label>
            <input ng-model="model.user.firstName" id="firstname" class="form-control">

            <label for="lastname" class="loginmargins">Last Name</label>
            <input ng-model="model.user.lastName" id="lastname" class="form-control">

            <label for="emailid" class="loginmargins">Email address</label>
            <input ng-model="model.user.email" type="email" id="emailid" class="form-control">

            <label class="loginmargins">Profile Image</label>
            <form action="/api/upload"   method="post" enctype="multipart/form-data">
                <input  name="myFile"    type="file" class="form-control"/>
                <input  name="userId"  value="{{model.user._id}}" style="display: none"/>
                <br>
                <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
            </form>
            <br>

            <a ng-click = "model.update()"
               class="loginmargins btn btn-primary btn-block">
                Update</a>

            <a class="loginmargins btn btn-danger  btn-block"
               href="#!/">Cancel</a>
        </div>

        <div ng-show="model.user.role === 'admin'" style="padding-top: 100px"  class="col-lg-12">
            <br><br>
            <div ng-show="model.err" class="alert alert-danger">{{model.err}}</div>

            <label for="adminusername" class="usernamelabelregister">Username</label>
            <input ng-model="model.user.username" id="adminusername" class="form-control">

            <label for="adminpassword" class="loginmargins">Change Password</label>
            <input ng-model="model.password" type="password" id="adminpassword" class="form-control">

            <label for="adminfirstname" class="loginmargins">First Name</label>
            <input ng-model="model.user.firstName" id="adminfirstname" class="form-control">

            <label for="adminlastname" class="loginmargins">Last Name</label>
            <input ng-model="model.user.lastName" id="adminlastname" class="form-control">

            <label for="adminemailid" class="loginmargins">Email address</label>
            <input ng-model="model.user.email" type="email" id="adminemailid" class="form-control">

            <a ng-click = "model.update()"
               class="loginmargins btn btn-primary btn-block">
                Update</a>

            <a class="loginmargins btn btn-danger  btn-block"
               href="#!/">Cancel</a>
        </div>

    </div>

</div>
