<nav class="navbar navbar-fixed-top navbar-inverse" >
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ng-href="#!/search/{{model.searchText}}" ng-if="model.routeFlag.indexOf('search')!==-1" class="navbar-brand proj-navbar-font proj-navbar-heading"><b class="proj-navbar-font"> <span class="glyphicon glyphicon-chevron-left" ></span></b></a>
            <a ng-href="#!/wishList" ng-if="model.routeFlag === 'wishList'" class="navbar-brand proj-navbar-font proj-navbar-heading"><b class="proj-navbar-font"> <span class="glyphicon glyphicon-chevron-left" ></span></b></a>
            <a ng-href="#!/watchList" ng-if="model.routeFlag === 'watchedList'" class="navbar-brand proj-navbar-font proj-navbar-heading"><b class="proj-navbar-font"> <span class="glyphicon glyphicon-chevron-left" ></span></b></a>
            <a ng-href="#!/finduser/{{model.searchRoute}}/{{model.uId}}" ng-if="model.routeFlag.indexOf('profile')!==-1" class="navbar-brand proj-navbar-font proj-navbar-heading"><b class="proj-navbar-font"> <span class="glyphicon glyphicon-chevron-left" ></span></b></a>
            <a ng-href="#!/comments" ng-if="model.routeFlag === 'comments'" class="navbar-brand proj-navbar-font proj-navbar-heading"><b class="proj-navbar-font"> <span class="glyphicon glyphicon-chevron-left" ></span></b></a>
            <a ng-href="#!/" ng-if="model.routeFlag === 'home'" class="navbar-brand proj-navbar-font proj-navbar-heading"><b class="proj-navbar-font"> <span class="glyphicon glyphicon-chevron-left" ></span></b></a>
            <a class="navbar-brand proj-navbar-font proj-navbar-heading" ng-href="#!/" ><b>TrendTV</b></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a ng-href="#!/search?searchText=" class="glyphicon glyphicon-search"></a></li>
                <li ><a href="#!/"><b class="proj-navbar-font proj-navbar-color">Trending </b></a></li>
                <li class="proj-navbar-heading" ng-show="model.userId"><a href="#!/profileEdit"> <b class="proj-navbar-color proj-navbar-font">Profile </b> </a></li>
                <li ng-show="!model.userId"><a href="#!/login"> <b class="proj-navbar-color proj-navbar-font ">Login </b> </a></li>
                <li ng-show="!model.userId"><a href="#!/register"> <b class="proj-navbar-color proj-navbar-font">Register </b> </a></li>
                <li ng-show="model.userId"><a  ng-click="model.logout()"> <b class="proj-navbar-color proj-navbar-font">Logout </b></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="">
    <div id ="works" class="container-fluid">
        <div ng-show="model.message" class="alert alert-info">{{model.message}}</div>
        <br/><br/>
        <div class="row">
            <div class="col-lg-12">
                <div align="right" ng-show="model.userId" >
                    <a ng-show="!model.wishlistflag" ng-click="model.addToWishList()" ><i class="proj-wishlist fa fa-heart fa-2x" aria-hidden="true"></i></a>
                    <a ng-show="model.wishlistflag" ng-click="model.addedToWishList()" ><i class="proj-wishlist-star fa fa-star fa-2x" aria-hidden="true"></i></a>
                    <a ng-show="!model.watchedlistflag" ng-click="model.addToWatchedList()" ><i class="proj-watchedlist fa fa-bookmark fa-2x" aria-hidden="true"></i></i></a>
                    <a ng-show="model.watchedlistflag" ng-click="model.addedToWatchedList()" ><i class="proj-check fa fa-check-square-o fa-2x" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-lg-5" align="middle">
                    <img ng-src="https://image.tmdb.org/t/p/w300/{{model.details.poster_path}}" err-src="https://www.themoviedb.org/assets/static_cache/7f29bd8b3370c71dd379b0e8b570887c/images/no-poster-w185-v2.png">
                </div>
                <div class="col-lg-7">
                    <h3 align="left"><b>{{model.details.name}}</b>
                    </h3>
                    <p>
                        <span ng-repeat="i in model.getNumber(model.details.vote_average/2)">
                        <i class="proj-star fa fa-star" aria-hidden="true"></i>
                        </span>
                    </p>

                    <p><b>Genre:</b>
                        <span ng-repeat="genre in model.details.genres">
                    {{genre.name}},
                </span>
                    </p>
                    <p><b>Seasons:</b>
                        <span>{{model.details.number_of_seasons}}</span>
                    </p>
                    <p><b>First Air Date:</b>
                        <span>{{model.details.first_air_date}}</span>
                    </p>
                    <p><b>Last Air Date:</b>
                        <span>{{model.details.last_air_date}}</span>
                    </p>
                    <p><b>Status:</b>
                        <span>{{model.details.status}}</span>
                    </p>
                    <b>Overview:</b>
                    <p><br>{{model.details.overview}}</p>
                </div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <br>
                <p>
                <h3 align="left"><b>Comments</b></h3>
                <div ng-repeat="c in model.comments">
                    <em ng-show="model.comments.length === 0" >No Comments yet!</em>
                    <div class="thumbnail card-1 ">
                        <div ng-if="c.userId===model.userId" align="right">
                            <a ng-click="model.editCommentBox(c,$event)"><span class="glyphicon glyphicon-pencil fa-2x"></span></a>
                        </div>
                        <div class="row">
                            <div class="col-lg-10">
                                <h4 ng-if="c.userId!==model.userId && model.userId"><h4 align="left"><b>{{model.users[$index]}}:</b></h4></h4>
                                <h4  ng-if="!model.userId" align="left"><b>{{model.users[$index]}}:</b></h4>
                                <!--<a ng-if="c.userId==model.userId" ng-href="#!/profileEdit"><h4 align="left"><b>{{model.users[$index]}}:</b></h4></a>-->
                                <h4><em><i class="fa fa-quote-left" aria-hidden="true"></i>{{c.comment }}
                                    <i class="fa fa-quote-right" aria-hidden="true"></i></em></h4>
                            </div>
                        </div>

                    </div>
                </div>
                <form>
                    <div class="form-group">
                                <textarea ng-disabled="!model.userId" class="form-control" rows="3" placeholder="Please enter the comment"
                                          ng-model="comment"></textarea>
                    </div>
                    <a class="btn btn-success"
                       ng-click="model.insertComment(comment)"
                       ng-show="model.userId"
                       role="button">Submit</a>
                    <a ng-href="#!/login" class="btn btn-danger"
                       ng-show="!model.userId"
                       role="button">Login to comment</a>
                </form>
                </p>
            </div>
        </div>

    </div>
</div>
