<nav class="navbar navbar-fixed-top navbar-inverse" >
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ng-href="#!/" class="navbar-brand proj-navbar-font proj-navbar-heading"><b class="proj-navbar-font"> <span class="glyphicon glyphicon-chevron-left" ></span></b></a>
            <a class="navbar-brand proj-navbar-font proj-navbar-heading" ng-href="#!/" ><b>TrendTV</b></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a ng-href="#!/search?searchText={{searchText}}" class="glyphicon glyphicon-search"></a></li>
                <li ><a href="#!/"><b class="proj-navbar-font proj-navbar-color">Trending </b></a></li>
                <li class="proj-navbar-heading" ng-show="model.userId"><a href="#!/profileEdit"> <b class="proj-navbar-color proj-navbar-font">Profile </b> </a></li>
                <li ng-show="!model.userId"><a href="#!/login"> <b class="proj-navbar-color proj-navbar-font ">Login </b> </a></li>
                <li ng-show="!model.userId"><a href="#!/register"> <b class="proj-navbar-color proj-navbar-font">Register </b> </a></li>
                <li ng-show="model.userId"><a  ng-click="model.logout()"> <b class="proj-navbar-color proj-navbar-font">Logout </b></a></li>
            </ul>
        </div>
    </div>
</nav>

<div id= "works" class=" container-fluid">
    <div class="container">
        <form class="input-group loginmargins row">
            <input type="text" ng-show="!model.searchText" ng-model="searchText"  class="form-control" placeholder="Search for..." ng-keyup="$event.keyCode == 13 && model.redirectToSearchResults(searchText)">
            <span ng-show="!model.searchText" class="input-group-btn">
                <a ng-show="!model.searchText" id="searchbutton" class="btn btn-default" ng-click="model.redirectToSearchResults(searchText)" type="button"><i class="fa fa-search"></i></a>
            </span>

            <input type="text" ng-show="model.searchText" ng-model="model.searchText"  class="form-control" placeholder="Search for..." ng-keyup="$event.keyCode == 13 && model.redirectToSearchResults(model.searchText)">
            <span ng-show="model.searchText"class="input-group-btn">
                <a ng-show="model.searchText" id="searchbutton1" class="btn btn-default" ng-click="model.redirectToSearchResults(model.searchText)" type="button"><i class="fa fa-search"></i></a>
            </span>

        </form><!-- /input-group -->
        <br>
        <div ng-if="model.userId" class="row" ng-init="model.search='tvseries'">
            <label class="radio-inline"><input ng-model="model.search" ng-value="'tvseries'" type="radio" name="searchtype"><h4>TV Series</h4></label>
            <label class="radio-inline"><input ng-model="model.search" ng-value="'user'" type="radio" name="searchtype"><h4>User</h4></label>
            <label class="radio-inline"><input ng-model="model.search" ng-value="'actor'" type="radio" name="searchtype"><h4>Actor</h4></label>
        </div>
    </div>
</div>
