<div class="topbar animated fadeInLeftBig"></div>
<div class="navbar-wrapper">
    <div class="container-fluid">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="top-nav">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand navbar-left pull-left" style="color: #1BC0DC; padding-top: 30px">Trend TV</a>


                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>


                <!-- Nav Starts -->
                <div class="navbar-collapse  collapse">

                    <ul class="nav navbar-nav navbar-right scroll">
                        <li><a ng-href="#!/search" class="navbarhover glyphicon glyphicon-search"></a></li>
                        <li><a class="navbarhover" ng-href="#!/">Trending</a></li>
                        <li ng-show="model.userId" class="active"><a ng-href="#!/profileEdit">Profile</a></li>
                        <li ng-show="!model.userId"><a class="navbarhover" href="#!/login">Login</a></li>
                        <li ng-show="!model.userId"><a class="navbarhover" href="#!/register">Register</a></li>
                        <li ng-show="model.userId"><a class="navbarhover" ng-click="model.logout()">Logout {{model.user.username}}</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<div  class="">
    <div id ="works" class="container-fluid " style="padding-top: 6em">
        <div ng-show="model.message" class="alert alert-info">{{model.message}}</div>
        <br/><br/>
        <div class="row">
            <div class="col-lg-5" align="middle">
                <div ng-show="model.userId" class="proj-edit">
                    <a ng-show="!model.wishlistflag" ng-click="model.addToWishList()" ><i class="proj-wishlist fa fa-heart fa-2x" aria-hidden="true"></i></a>
                    <a ng-show="model.wishlistflag" ng-click="model.addedToWishList()" ><i class="proj-wishlist-star fa fa-star fa-2x" aria-hidden="true"></i></a>
                    <a ng-show="!model.watchedlistflag" ng-click="model.addToWatchedList()" ><i class="proj-watchedlist fa fa-list fa-2x" aria-hidden="true"></i></a>
                    <a ng-show="model.watchedlistflag" ng-click="model.addedToWatchedList()" ><i class="proj-check fa fa-check-square-o fa-2x" aria-hidden="true"></i></a>
                </div>
                <img ng-src="https://image.tmdb.org/t/p/w300/{{model.details.poster_path}}" err-src="https://www.themoviedb.org/assets/static_cache/7f29bd8b3370c71dd379b0e8b570887c/images/no-poster-w185-v2.png">
            </div>
            <div class="col-lg-7">
                <h3 align="left"><b>{{model.details.name}}</b>
                    <span ng-repeat="i in model.getNumber(model.details.vote_average/2)">
                        <i style="color:gold" class="fa fa-star" aria-hidden="true"></i>
                    </span>
                </h3>

                <p><b>Genre:</b>
                    <span ng-repeat="genre in model.details.genres">
                    {{genre.name}},
                </span>
                </p>
                <p><b>Seasons:</b>
                    <span>{{model.details.number_of_seasons}}</span>
                </p>
                <p><b>First Air Date:</b>
                    <span>{{model.details.first_air_date}}</span>
                </p>
                <p><b>Last Air Date:</b>
                    <span>{{model.details.last_air_date}}</span>
                </p>
                <p><b>Status:</b>
                    <span>{{model.details.status}}</span>
                </p>
                <b>Overview:</b>
                <p>{{model.details.overview}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <br>
                <p>
                <h3 align="left"><b>Comments</b></h3>
                <div ng-repeat="c in model.comments">
                    <em ng-show="model.comments.length === 0" >No Comments yet!</em>
                    <div class="thumbnail card-1 ">
                        <div ng-if="c.userId===model.userId" align="right">
                            <a href="#!/edit-comment/{{c._id}}"><span class="glyphicon glyphicon-pencil"></span></a>
                        </div>
                        <div class="row">
                            <div class="col-lg-10">
                                <a ng-if="c.userId!==model.userId && model.userId" ng-href="#!/finduser/{{c.userId}}"><h4 align="left"><b>{{model.users[$index]}}:</b></h4></a>
                                <h4  ng-if="!model.userId" align="left"><b>{{model.users[$index]}}:</b></h4>
                                <a ng-if="c.userId==model.userId" ng-href="#!/profileEdit"><h4 align="left"><b>{{model.users[$index]}}:</b></h4></a>
                                <h4><em><i class="fa fa-quote-left" aria-hidden="true"></i>{{c.comment }}
                                    <i class="fa fa-quote-right" aria-hidden="true"></i></em></h4>
                            </div>
                        </div>

                    </div>
                </div>
                <form>
                    <div class="form-group">
                                <textarea ng-disabled="!model.userId" class="form-control" rows="3" placeholder="Please enter the comment"
                                          ng-model="comment"></textarea>
                    </div>
                    <a class="btn btn-success"
                       ng-click="model.insertComment(comment)"
                       ng-show="model.userId"
                       role="button">Submit</a>
                    <a ng-href="#!/login" class="btn btn-danger"
                       ng-show="!model.userId"
                       role="button">Login to comment</a>
                </form>
                </p>
            </div>
        </div>

    </div>
</div>
