<div class="topbar animated fadeInLeftBig"></div>
<div class="navbar-wrapper">
    <div class="container-fluid">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="top-nav">
            <div class="container">
                <div class="navbar-header">
                    <!-- Logo Starts -->
                    <!--<a class="navbar-brand" href="#home"><img src="images/logo.png" alt="logo"></a>-->
                    <!-- #Logo Ends -->
                    <a class="navbar-brand navbar-left pull-left" style="color: #1BC0DC; padding-top: 30px">Trend TV</a>


                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>


                <!-- Nav Starts -->
                <div class="navbar-collapse  collapse">

                    <ul class="nav navbar-nav navbar-right scroll">
                        <li><a ng-href="#!/search" class="navbarhover glyphicon glyphicon-search"></a></li>
                        <li><a class="navbarhover" ng-href="#!/">Trending</a></li>
                        <li ng-if="model.userId" class="active"><a ng-href="#!/profileEdit">Profile</a></li>
                        <li ng-if="model.userId"><a class="navbarhover" ng-click="model.logout()">Logout {{model.user.username}}</a></li>
                        <li ng-if="!model.userId"><a class="navbarhover" href="#!/register">Register</a></li>
                        <li ng-if="!model.userId"><a class="navbarhover" href="#!/login">Login</a></li>
                        <li ng-if="!model.userId"><a class="navbarhover" href="#contact">Contact</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<div id= "works" style="background-color: black;" class=" no-scroll-div container-fluid">
    <div class="container">
        <div class="input-group loginmargins row">
            <input type="text" ng-model="searchText" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <a id="searchbutton" class="btn btn-default" ng-click="model.redirectToSearchResults(searchText)" type="button"><i class="fa fa-search"></i></a>
            </span>

        </div><!-- /input-group -->
        <br>
        <div ng-if="model.userId" class="row" ng-init="model.search='tvseries'">
            <label class="radio-inline"><input ng-model="model.search" ng-value="'tvseries'" type="radio" name="searchtype"><h4>TV Series</h4></label>
            <label class="radio-inline"><input ng-model="model.search" ng-value="'user'" type="radio" name="searchtype"><h4>User</h4></label>
            <label class="radio-inline"><input ng-model="model.search" ng-value="'actor'" type="radio" name="searchtype"><h4>Actor</h4></label>
        </div>
    </div>
</div>
